    GLOBAL_SETTINGS
    LAB_MASTER_SEED openvpn_student_master_seed
    REGISTRY toantc3101
NETWORK LAN_NET
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.254
CONTAINER openvpn
     USER ubuntu
     X11 YES
     LAN_NET 192.168.1.2
CONTAINER server
     USER ubuntu
     X11 YES
     LAN_NET 192.168.1.3
